@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto+Condensed");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  height: 100vh;
  overflow: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #e9e9e9;
  border-bottom: 1px solid #aaa;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo {
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 20px;
  -webkit-transition: .3s;
  transition: .3s;
}

header .logo.menu-active {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

header .logo img {
  width: 32px;
  margin-right: 8px;
}

header .logo h1 > span {
  color: #ecaa26;
}

header .hamburger-icon {
  width: 45px;
  height: 30px;
  position: relative;
  margin-right: 20px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}

header .hamburger-icon:hover span {
  background-color: #db9914;
}

header .hamburger-icon span {
  display: block;
  position: absolute;
  height: 7px;
  width: 100%;
  background-color: #eeae2f;
  border-radius: 7px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

header .hamburger-icon span:nth-child(1) {
  top: 0;
}

header .hamburger-icon span:nth-child(2) {
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

header .hamburger-icon span:nth-child(1) {
  top: 100%;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}

header .hamburger-icon.active span:nth-child(1) {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(135deg);
          transform: translateY(-50%) rotate(135deg);
}

header .hamburger-icon.active span:nth-child(2) {
  opacity: 0;
  left: -30px;
}

header .hamburger-icon.active span:nth-child(3) {
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(-135deg);
          transform: translateY(-50%) rotate(-135deg);
}

main {
  height: calc(100% - 61px);
  padding: 10px;
  position: relative;
  overflow: hidden;
}

.menu {
  position: absolute;
  text-align: center;
  right: 0;
  padding: 50px 10px;
  top: -1px;
  bottom: 0;
  width: 300px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: .3s;
  transition: .3s;
  background-color: #e9e9e9;
  border-left: 1px solid #aaa;
  z-index: 2;
}

.menu.active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.menu .logo {
  margin-bottom: 40px;
}

.menu .logo h2 {
  font-size: 2rem;
}

.menu .logo h2 > span {
  color: #ecaa26;
}

.menu .logo img {
  width: 50px;
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.menu nav section {
  margin-bottom: 50px;
}

.menu nav section h3 {
  font-size: 1.5rem;
  border-bottom: 1px solid #bbb;
  width: 50%;
  max-width: 250px;
  margin: 20px auto;
  padding-bottom: 5px;
}

.menu nav section ul {
  list-style: none;
}

.menu .nav-menu button {
  position: relative;
  margin: 10px 0;
  font-size: 1rem;
  font-family: "Roboto Condensed", sans-serif;
  width: 50%;
  max-width: 250px;
  padding: 5px 0 5px 42px;
  border: 1px solid #aaa;
  outline: none;
  cursor: pointer;
  border-radius: 3px;
  background-color: #ddd;
  text-align: left;
}

.menu .nav-menu button i {
  position: absolute;
  left: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  pointer-events: none;
}

.menu .nav-menu button:disabled {
  cursor: default;
}

.menu .nav-menu button:hover:not(:disabled) {
  background-color: #ecaa26;
  color: #fff;
}

.menu .statistics {
  width: 50%;
  margin: 0 auto;
}

.menu .statistics li {
  margin: 20px 0;
  font-size: 1rem;
}

.menu .statistics li i {
  margin-right: 8px;
}

.menu .statistics li div {
  text-align: center;
  display: block;
  background-color: #ccc;
  margin: 10px auto;
  border-radius: 10px;
  padding: 3px 0;
  font-size: 1.1rem;
  font-weight: bold;
  width: 80%;
  max-width: 250px;
}

.board {
  position: relative;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-transition: padding .3s;
  transition: padding .3s;
}

.board::after {
  content: 'Paused';
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  font-size: 3rem;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: .3s;
  transition: .3s;
  opacity: 0;
  pointer-events: none;
}

.board::before {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: transparent;
  pointer-events: none;
  z-index: 1;
}

.board.paused::after {
  opacity: 1;
  pointer-events: all;
}

.board.modaled::after {
  content: '';
  opacity: 1;
  pointer-events: all;
}

.board.overlayed::before {
  pointer-events: all;
}

.board.menu-active {
  padding-right: 300px;
}

.board.menu-active::after, .board.menu-active::before {
  right: 300px;
}

.board.menu-active .intro {
  -webkit-transform: translate(calc(-50% - 150px), -35%);
          transform: translate(calc(-50% - 150px), -35%);
}

.board.menu-active .modal {
  -webkit-transform: translate(calc(-50% - 150px), -50%);
          transform: translate(calc(-50% - 150px), -50%);
}

.board.menu-active .modal.hidden {
  -webkit-transform: translate(calc(-50% - 150px), -50%) scale(0);
          transform: translate(calc(-50% - 150px), -50%) scale(0);
  pointer-events: none;
}

.board .modal {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #e9e9e9;
  text-align: center;
  border: 2px solid #ccc;
  border-radius: 3px;
  padding: 40px;
  z-index: 1;
  -webkit-transition: .3s;
  transition: .3s;
  width: 50%;
  overflow: hidden;
}

.board .modal.hidden {
  -webkit-transform: translate(-50%, -50%) scale(0);
          transform: translate(-50%, -50%) scale(0);
  pointer-events: none;
}

.board .modal i.close-modal-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  color: #333;
  cursor: pointer;
  opacity: .8;
  font-size: 1.4rem;
}

.board .modal i.close-modal-btn:hover {
  opacity: 1;
}

.board .modal .finish-scene h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.board .modal .finish-scene h2 i {
  margin-right: 5px;
  color: #e29300;
  font-size: 2.2rem;
}

.board .modal .finish-scene .game-result {
  background-color: #ecaa26;
  border: 1px solid #444;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
          box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  width: 90%;
  padding: 30px;
  margin: 30px auto;
  font-size: 1.3rem;
}

.board .modal .finish-scene .game-result p {
  margin-bottom: 45px;
}

.board .modal .finish-scene .game-result p span {
  font-weight: bold;
}

.board .modal .finish-scene .game-result .stars {
  margin-bottom: 20px;
}

.board .modal .finish-scene .game-result .stars .star-section {
  margin-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.board .modal .finish-scene button {
  display: block;
  border: 1px solid #bbb;
  color: #333;
  border-radius: 3px;
  background-color: whitesmoke;
  font-size: 1.8rem;
  font-family: "Roboto Condensed", sans-serif;
  padding: 5px 30px;
  margin: 40px auto 0px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.board .modal .finish-scene button:hover {
  background-color: #ecaa26;
  color: #fff;
}

.intro {
  position: absolute;
  left: 50%;
  top: 35%;
  -webkit-transform: translate(-50%, -35%);
          transform: translate(-50%, -35%);
  text-align: center;
  -webkit-transition: .3s;
  transition: .3s;
  width: 50%;
}

.intro.hidden {
  opacity: 0;
}

.intro fieldset {
  border: 3px solid #ecaa26;
  border-radius: 5px;
  padding: 20px 20px 40px;
  -webkit-box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
          box-shadow: 0 8px 12px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
}

.intro fieldset legend {
  font-size: 2.5rem;
  padding: 0 20px;
}

.intro fieldset legend span {
  color: #ecaa26;
}

.intro fieldset > p {
  font-size: 1.1rem;
  margin: 10px auto;
  color: #333;
}

.intro fieldset > p::before {
  content: '→';
  margin-right: 15px;
  vertical-align: -2px;
  font-size: 1.8rem;
  color: #ecaa26;
}

.intro fieldset .circle {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 11vw;
  min-width: 100px;
  height: 11vw;
  min-height: 100px;
  -webkit-transform: translate(50%, 50%);
          transform: translate(50%, 50%);
  background-color: orange;
  border-radius: 50%;
  z-index: -1;
}

.intro form {
  margin-top: 30px;
}

.intro form button {
  display: block;
  border: 1px solid #bbb;
  color: #ecaa26;
  background-color: whitesmoke;
  font-size: 1.8rem;
  font-family: "Roboto Condensed", sans-serif;
  padding: 5px 30px;
  margin: 40px auto 0px;
  border-radius: 3px;
  cursor: pointer;
  font-weight: bold;
  text-transform: uppercase;
  outline: none;
  -webkit-transition: .2s;
  transition: .2s;
}

.intro form button:hover {
  background-color: #ecaa26;
  color: #fff;
}

.intro form .radio-block {
  display: inline-block;
  margin: 0 20px;
  font-size: 1.2rem;
}

.intro form .radio-block input {
  width: 20px;
  height: 20px;
  vertical-align: -2px;
  margin-right: 3px;
}

.intro form .level-description-box {
  margin: 25px auto 0;
  background-color: #ecaa26;
  border-radius: 5px;
  position: relative;
  height: 80px;
  width: 80%;
  overflow: hidden;
}

.intro form .level-description-box .level-description {
  width: 100%;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(220%);
          transform: translateY(220%);
  padding: 0 10px;
  font-size: 1.1rem;
  -webkit-transition: .1s;
  transition: .1s;
}

.intro form .level-description-box .level-description.active {
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.intro form .level-description-box .level-description ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #333;
}

.intro form .level-description-box .level-description ul li::before {
  content: '★';
  color: #fff;
  margin-right: 5px;
  vertical-align: 1px;
}

.card {
  background-color: gray;
  -ms-flex-preferred-size: 12.5%;
      flex-basis: 12.5%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border: 2px solid #fff;
  position: relative;
  -webkit-transition: .2s;
  transition: .2s;
  cursor: pointer;
  overflow: hidden;
}

.card.hidden {
  -webkit-transform: translateY(-20px);
          transform: translateY(-20px);
  pointer-events: none;
  opacity: 0;
}

.card:hover:not(.inverted) {
  opacity: .9;
}

.card.inverted {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
  cursor: default;
}

.card img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 40%;
  opacity: .3;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  pointer-events: none;
}

.card h3.color-desc {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-size: .9em;
  -webkit-transform: translate(-50%, -50%) rotateY(180deg);
          transform: translate(-50%, -50%) rotateY(180deg);
  pointer-events: none;
}

@media (orientation: portrait) {
  .card {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
}

.loading-scene {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #e9e9e9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  -webkit-transition: opacity .5s .7s;
  transition: opacity .5s .7s;
}

.loading-scene.hidden {
  opacity: 0;
  pointer-events: none;
}

.loading-scene .loading-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  opacity: 0;
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
}

.loading-scene .loading-logo.visible {
  opacity: 1;
}

.loading-scene .loading-logo img.sd-card {
  margin-right: 10px;
  width: 100px;
}

.loading-scene .loading-logo img.loader {
  position: absolute;
  width: 100px;
  left: 65%;
  bottom: 0;
  -webkit-transform: translate(-65%, 80%);
          transform: translate(-65%, 80%);
}

.loading-scene .loading-logo h1 {
  font-size: 3rem;
}

.loading-scene .loading-logo h1 span {
  color: #ecaa26;
}

footer {
  position: absolute;
  left: 8px;
  bottom: 6px;
  font-size: .9rem;
  z-index: 0;
  opacity: .8;
  -webkit-transition: .2s;
  transition: .2s;
}

footer.hidden {
  -webkit-transform: translateX(calc(-100% - 8px));
          transform: translateX(calc(-100% - 8px));
}

footer a {
  color: #ecaa26;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
}

footer span.author {
  font-weight: bold;
}

footer img {
  vertical-align: -3px;
  margin-left: 2px;
}

@media screen and (max-width: 1460px) {
  .board .modal {
    width: 70%;
    padding: 20px;
  }
}

@media screen and (max-width: 1240px) {
  .intro {
    width: 70%;
  }
}

@media screen and (max-width: 1024px) {
  .board.menu-active {
    padding-right: 0;
  }
  .board.menu-active::after, .board.menu-active::before {
    right: 0;
  }
  .board.menu-active .intro {
    -webkit-transform: translate(-100%, -35%);
            transform: translate(-100%, -35%);
  }
  .board.menu-active .modal {
    -webkit-transform: translate(-100%, -50%);
            transform: translate(-100%, -50%);
  }
  .board.menu-active .modal.hidden {
    -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
    pointer-events: none;
  }
  .menu {
    width: 100%;
    border: none;
  }
}

@media screen and (max-width: 1024px) and (orientation: portrait) {
  .modal .finish-scene .game-result .stars .star-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px 0;
  }
  .modal .finish-scene .game-result .stars .star-section span {
    margin-top: 10px;
  }
}

@media screen and (max-width: 740px) {
  header .hamburger-icon {
    width: 40px;
    height: 25px;
  }
  header .hamburger-icon span {
    height: 5px;
    border-radius: 5px;
  }
  .board .modal {
    width: 90%;
    padding: 15px;
  }
  .board .modal .finish-scene h2 {
    margin-bottom: 10px;
  }
  .board .modal .finish-scene .game-result {
    width: 100%;
    padding: 15px;
  }
}

@media screen and (max-width: 890px) {
  html,
  body {
    font-size: 15px;
  }
  .intro {
    width: 90%;
  }
  .loading-scene .loading-logo img.sd-card,
  .loading-scene .loading-logo img.loader {
    width: 70px;
  }
}

@media screen and (max-width: 551px) {
  .loading-scene .loading-logo img.sd-card,
  .loading-scene .loading-logo img.loader {
    width: 50px;
  }
  .intro {
    width: 100%;
  }
  .intro fieldset {
    padding: 5px 10px;
  }
  .intro fieldset > p {
    margin: 3px auto;
  }
  .intro fieldset > p::before {
    font-size: 1.3rem;
    vertical-align: 1px;
  }
  .intro form {
    margin-top: 15px;
  }
  .intro form .radio-block {
    display: block;
    margin: 5px 0;
    font-size: 1.1rem;
  }
  .intro form .level-description-box {
    width: 90%;
    height: 50px;
    margin-top: 15px;
  }
  .intro form button {
    margin: 15px auto;
  }
  html,
  body {
    font-size: 12px;
  }
}

@media screen and (max-height: 757px) {
  .menu {
    padding: 10px;
  }
  .menu .logo {
    margin-bottom: 0;
  }
  .menu nav section {
    margin-bottom: 0;
  }
  .menu nav section h3 {
    margin: 15px auto;
  }
  .menu .nav-menu button {
    margin: 7px 0;
  }
  .menu .statistics li {
    margin: 10px 0;
  }
}

@media screen and (max-height: 414px) and (orientation: landscape) {
  .board .modal {
    width: 100%;
    padding: 5px 10px;
  }
  .board .modal .finish-scene h2 {
    margin-bottom: 10px;
  }
  .board .modal .finish-scene button {
    margin-top: 20px;
  }
  .board .modal .finish-scene .game-result {
    margin: 10px auto;
    width: 90%;
    padding: 15px;
  }
  .board .modal .finish-scene .game-result p {
    margin-bottom: 20px;
  }
}

@media screen and (orientation: landscape) and (max-height: 680px) {
  .intro {
    width: 100%;
  }
  .intro fieldset {
    padding: 0;
  }
  .intro fieldset > p {
    margin: 0;
  }
  .intro fieldset > p::before {
    font-size: 1.3rem;
    vertical-align: 1px;
  }
  .intro form {
    margin-top: 15px;
  }
  .intro form button {
    margin: 20px auto;
  }
  .intro form .level-description-box {
    margin-top: 15px;
    height: 40px;
  }
  html,
  body {
    font-size: 12px;
  }
}

@media screen and (max-width: 430px) {
  .board .modal {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
/*# sourceMappingURL=main.css.map */